<section class="navCatalog">
  <h1><i class="fa fa-angle-double-right" aria-hidden="true"></i> Каталог строительных компаний:<br></h1>
  <ul>
    <% @catalogs.each do |catalog| %>
        <li><%= link_to catalog.name, showcatalog_path(catalog.translit_url), title: catalog.name %></li>
    <% end %>
  </ul>
  <div class="clear"></div>
  <div class="container-fluid">
    <div class="row">
  <div class="wrapButtonComp col-xs-12">
    <%= link_to 'Добавить компанию в каталог', new_company_path, title: 'Добавить в каталог', class: 'addNewComp' %>
  </div>
  </div>
  </div>
</section>
<div class="mainWrapBlock">
  <main class="mainBlock">
    <% @companies.each do |company| %>
        <article class="companyCat">
          <header>
            <h1><%= image_tag company.image, alt: company.name, title: company.name %> <%= link_to company.name, company_path(company)%></h1>
            <i class="fa fa-globe" aria-hidden="true" style="color: #FF7A00;"></i> <span><%= company.state %>, <%= company.city %></span>
          </header>
          <div class="companyDesc">
            <p><%= truncate(company.description, length: 200) %></p>
          </div>
          <%= link_to 'Подробнее <i class="fa fa-angle-double-right" aria-hidden="true"></i>'.html_safe, company_path(company), title: company.name, class: 'companyLink' %>
          <footer>
          <% company.company_skills.each do |skills| %>
              <%= link_to ('<i class="fa fa-tag" aria-hidden="true" style="color: #767676;"></i> ' + skills.catalog.name).html_safe, showcatalog_path(skills.catalog.translit_url), title: skills.catalog.name %>
          <% end %>
          </footer>
        </article>
    <% end %>
    <div class="clear"></div>
    <%= will_paginate @companies, previous_label: '<i class="fa fa-chevron-circle-left fa-lg adminPag"></i>'.html_safe, next_label: '<i class="fa fa-chevron-circle-right fa-lg adminPag"></i>'.html_safe %>
  </main>
  <aside class="navRightBlock">
    <div class="mainMenuRight">
      <h1>Главное меню</h1>
      <ul>
        <li><a href="/" title='Главная'>Главная</a></li>
        <li><%= link_to 'Каталог фирм', catalogs_path, title: 'Каталог фирм' %></li>
        <li><%= link_to 'Обратная связь', feedback_url, title: 'Обратная связь' %></li>
      </ul>
    </div>
    <div class="CategoryRight">
      <h1>Рубрики сайта</h1>
      <ul class="parentCategoryRight">
        <% @categories.each do |category| %>
            <li>
              <%= link_to category.name, showcategory_path(category.translit_url), class: 'parentLink' %>
            </li>
        <% end %>
      </ul>
    </div>
    <div class="clear"></div>
  </aside>
</div>

<style>
  .navVaries .catFirms{
    border-color:  #CA1B18;
  }
</style>