<%= form_for(feed, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feed.errors.count, "error") %> prohibited this feed from being saved:</h2>

      <ul>
      <% feed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <div class=" col-sm-2">
        <%= f.label 'Имя', class: "control-label" %>
      </div>
      <div class="col-sm-10 ">
        <%= f.text_field :name, autofocus: true, class: "form-control form", "required" => true %>
      </div>
    </div>

    <div class="form-group">
      <div class=" col-sm-2">
        <%= f.label 'Почта', class: "control-label" %>
      </div>
      <div class="col-sm-10 ">
        <%= f.text_field :email, class: "form-control form", "required" => true %>
      </div>
    </div>

    <div class="form-group">
      <div class=" col-sm-2">
        <%= f.label 'Тема', class: "control-label" %>
      </div>
      <div class="col-sm-10 ">
        <%= f.text_field :title, class: "form-control form", "required" => true %>
      </div>
    </div>

    <div class="form-group">
      <div class=" col-sm-2">
        <%= f.label 'Сообщение', class: "control-label" %>
      </div>
      <div class="col-sm-10 ">
        <%= f.text_area :description, class: "form-control form", "required" => true %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2 ">
        <%= f.label 'Отметить прочитанным', for: 'moderation' %>
      </div>
      <div class="col-sm-10"
      '>
      <%= f.check_box :moderation, id: 'moderation' %>
    </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10 actions">
        <br>
        <%= link_to 'Назад', adminpanel_feedback_path, class: 'btn btn-primary' %>
        <button type="submit" class="btn btn-success editSeller">Сохранить</button>
      </div>
    </div>
<% end %>
