<% if @feed.save %>
$('form input[type=text]').val('');
$('form textarea').val('');
$('form').remove();
$('.note').remove();
$('.commentFlash').remove();

$('.feedback').append("<h3 class='commentFlash'>Спасибо за ваше сообщение. Администратор его просмотрит и ответит вам в ближайшие сроки.</h3>");

<% else %>
$('.feedback').append("<h3 class='commentFlash' style='color: red;'><%= @feed.errors.messages.values.join(', ') %></h3>");
<% end %>
