<section id="main-content">
  <section class="wrapper">
    <div class="container-fluid">
      <% if flash[:alert] %>
          <div class="alert alert-error" class="text-center">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:alert] %></div>
      <% end %>
      <% if flash[:notice] %>
          <div class="alert alert-info" class="text-center">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:notice] %>
          </div>
      <% end %>
      <div class="row">
        <div class="col-lg-12">
          <center><%= link_to 'Создать каталог фирмы', new_catalog_path, class: 'btn btn-info btn-lg buttonNew' %></center>
          <section class="panel">
            <header class="panel-heading">
              Таблица Каталогов
            </header>

            <table class="table table-striped table-advance table-hover">
              <tbody>
              <tr>
                <th># id</th>
                <th><i class="icon_pencil"></i> Название</th>
                <th><i class="icon_calendar"></i> Создан</th>
              </tr>
              <% @catalogs.each do |catalog| %>
                  <tr id="product_<%= catalog.id %>">
                    <td><%= catalog.id %></td>
                    <td><%= catalog.name %></td>
                    <td><%= catalog.created_at.strftime('%F') %></td>
                    <td>
                      <div class="btn-group">
                        <%= link_to '<i class="icon_pencil"></i>'.html_safe, edit_catalog_path(catalog.id), class: 'btn btn-success' %>
                        <span class='btn btn-danger deleteMessage2' accon='catalogs' orr_id='<%= catalog.id %>'><i class="icon_close_alt2"></i></span>
                      </div>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </section>
          <p><%= will_paginate @catalogs, previous_label: '<i class="fa fa-chevron-circle-left fa-lg adminPag"></i>'.html_safe, next_label: '<i class="fa fa-chevron-circle-right fa-lg adminPag"></i>'.html_safe %></p>
        </div>
      </div>
  </section>
</section>

<style>
  .catalogs, .catalogs a{
    background: #2e3b46;
    color: white !important;
  }
</style>
