<section id="main-content">
  <section class="wrapper">
    <div class="container-fluid">
      <% if flash[:alert] %>
          <div class="alert alert-error" class="text-center">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:alert] %></div>
      <% end %>
      <% if flash[:notice] %>
          <div class="alert alert-info" class="text-center">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:notice] %>
          </div>
      <% end %>

      <div class="row">
        <div class="wrapDrop">

          <div class="dropdown">
            <a class="btn btn-primary active adminDropMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
              <i class="fa fa-caret-down" aria-hidden="true"></i>
              <% case @sort %>
              <% when '0' %>
                  <%= 'Не прошедшие модерацию' %>
              <% when '1' %>
                  <%= 'Прошедшие модерацию' %>
              <% when 'all' %>
                  <%= 'Все товары' %>
              <% else %>
                  <%= 'Сртировать комментарии по:' %>
              <% end %>
            </a>

            <ul class="dropdown-menu" aria-labelledby="people_btn">
              <li>
                <%= link_to 'Прошедшие модеацию', adminpanel_comments_path(moderation: 1) %>
              </li>
              <li>
                <%= link_to 'Не прошедшие модерацию', adminpanel_comments_path(moderation: 0) %>
              </li>
              <li>
                <%= link_to 'Все комментарии', adminpanel_comments_path(moderation: 'all') %>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>

      <div class="row">
        <div class="col-lg-12">
          <section class="panel">
            <header class="panel-heading">
              Таблица Статей
            </header>

            <table class="table table-striped table-advance table-hover">
              <tbody>
              <tr>
                <th class='customIdTh'># id</th>
                <th><i class="icon_pencil"></i> Название статьи</th>
                <th><i class="fa fa-align-left" aria-hidden="true"></i> Комментарий</th>
                <th><i class="icon_calendar"></i> Создан</th>
                <th><i class="icon_key"></i></th>
              </tr>
              <% @comment.each do |comment| %>
                  <tr id="product_<%= comment.id %>">
                    <td><%= comment.id %></td>
                    <td><%= link_to comment.post.name, post_path(comment.post), target: '_blank' %></td>
                    <td><%= link_to((truncate comment.body, length: 100), post_path(comment.post)+"#commId_#{comment.id}", target: '_blank') %></td>
                    <td class="lastTd"><%= comment.created_at.strftime('%F') %></td>
                    <td><%= comment.moderation == 1 ? '<i class="icon_lock-open seller_lock-open">'.html_safe : '<i class="icon_lock seller_lock-lock">'.html_safe %></td>
                    <td>
                      <div class="btn-group tableTools">
                        <%= link_to '<i class="icon_pencil"></i>'.html_safe, edit_comment_path(comment.id), class: 'btn btn-success' %>
                        <span class='btn btn-danger deleteMessage2' accon='comments' orr_id='<%= comment.id %>'><i class="icon_close_alt2"></i></span>
                      </div>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </section>
          <p><%= will_paginate @comment, previous_label: '<i class="fa fa-chevron-circle-left fa-lg adminPag"></i>'.html_safe, next_label: '<i class="fa fa-chevron-circle-right fa-lg adminPag"></i>'.html_safe %></p>
        </div>
      </div>
  </section>
</section>

<style>
  .comment, .comment a{
    background: #2e3b46;
    color: white !important;
  }
</style>