<section id="main-content">
  <section class="wrapper">
    <div class="container-fluid">
      <% if flash[:alert] %>
          <div class="alert alert-error" class="text-center">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:alert] %></div>
      <% end %>
      <% if flash[:notice] %>
          <div class="alert alert-info" class="text-center">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:notice] %>
          </div>
      <% end %>
      <div class="row">
        <div class="col-lg-12">
          <section class="panel">
            <header class="panel-heading">
              Таблица Каталогов
            </header>

            <table class="table table-striped table-advance table-hover">
              <tbody>
              <tr>
                <th># id</th>
                <th><i class="icon_pencil"></i> Название</th>
                <th><i class="icon_mail_alt "></i> Email</th>
                <th><i class="icon_globe-2 "></i> Страна</th>
                <th><i class="icon_calendar"></i> Создан</th>
                <th><i class="icon_key"></i></th>
              </tr>
              <% @companies.each do |company| %>
                  <tr id="product_<%= company.id %>">
                    <td><%= company.id %></td>
                    <td><%= company.name %></td>
                    <td><%= company.email %></td>
                    <td><%= company.state %></td>
                    <td><%= company.created_at.strftime('%F') %></td>
                    <td><%= company.moderation == 1 ? '<i class="icon_lock-open seller_lock-open">'.html_safe : '<i class="icon_lock seller_lock-lock">'.html_safe %></td>
                    <td>
                      <div class="btn-group">
                        <%= link_to '<i class="icon_pencil"></i>'.html_safe, edit_company_path(company.id), class: 'btn btn-success' %>
                        <span class='btn btn-danger deleteMessage2' accon='companies' orr_id='<%= company.id %>'><i class="icon_close_alt2"></i></span>
                      </div>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </section>
          <p><%= will_paginate @companies, previous_label: '<i class="fa fa-chevron-circle-left fa-lg adminPag"></i>'.html_safe, next_label: '<i class="fa fa-chevron-circle-right fa-lg adminPag"></i>'.html_safe %></p>
        </div>
      </div>
  </section>
</section>

<style>
  .companies, .companies a{
    background: #2e3b46;
    color: white !important;
  }
</style>
