<section id="main-content">
  <section class="wrapper">
    <div class="container-fluid">
      <% if flash[:alert] %>
          <div class="alert alert-error" class="text-center">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:alert] %></div>
      <% end %>
      <% if flash[:notice] %>
          <div class="alert alert-info" class="text-center">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:notice] %>
          </div>
      <% end %>

      <div class="row">
        <div class="wrapDrop">

          <div class="dropdown">
            <a class="btn btn-primary active adminDropMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
              <i class="fa fa-caret-down" aria-hidden="true"></i>
              <% case @sort %>
              <% when '0' %>
                  <%= 'Непрочитанные' %>
              <% when '1' %>
                  <%= 'Прочитанные' %>
              <% when 'all' %>
                  <%= 'Все письма' %>
              <% else %>
                  <%= 'Сртировать письма по:' %>
              <% end %>
            </a>

            <ul class="dropdown-menu" aria-labelledby="people_btn">
              <li>
                <%= link_to 'Прочитанные', adminpanel_feedback_path(moderation: 1) %>
              </li>
              <li>
                <%= link_to 'Непрочитанные', adminpanel_feedback_path(moderation: 0) %>
              </li>
              <li>
                <%= link_to 'Все письма', adminpanel_feedback_path(moderation: 'all') %>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <section class="panel">
          <header class="panel-heading">
            Таблица Статей
          </header>

          <table class="table table-striped table-advance table-hover">
            <tbody>
            <tr>
              <th class='customIdTh'># id</th>
              <th><i class="icon_profile"></i> Имя</th>
              <th><i class="icon_mail"></i> Email</th>
              <th><i class="icon_pencil"></i> Заголовок письма</th>
              <th><i class="fa fa-align-left" aria-hidden="true"></i> Сообщение</th>
              <th><i class="icon_calendar"></i> Создан</th>
              <th><i class="icon_key"></i></th>
            </tr>
            <% @feed.each do |feed| %>
                <tr id="product_<%= feed.id %>">
                  <td><%= feed.id %></td>
                  <td><%= feed.name %></td>
                  <td><%= feed.email %></td>
                  <td><%= feed.title %></td>
                  <td><%= truncate feed.description, length: 100 %></td>
                  <td class="lastTd"><%= feed.created_at.strftime('%F') %></td>
                  <td><%= feed.moderation == 1 ? '<i class="icon_check seller_lock-open">'.html_safe : '<i class="icon_check seller_lock-lock">'.html_safe %></td>
                  <td>
                    <div class="btn-group tableTools">
                      <%= link_to '<i class="icon_pencil"></i>'.html_safe, edit_feed_path(feed), class: 'btn btn-success' %>
                      <span class='btn btn-danger deleteMessage2' accon='feeds' orr_id='<%= feed.id %>'><i class="icon_close_alt2"></i></span>
                    </div>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </section>
        <p><%= will_paginate @feed, previous_label: '<i class="fa fa-chevron-circle-left fa-lg adminPag"></i>'.html_safe, next_label: '<i class="fa fa-chevron-circle-right fa-lg adminPag"></i>'.html_safe %></p>
      </div>
    </div>
  </section>
</section>

<style>
  .feedback, .feedback a{
    background: #2e3b46;
    color: white !important;
  }
</style>