<section id="main-content">
  <section class="wrapper">
    <!--overview start-->
    <div class="row">
      <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-laptop"></i> Dashboard</h3>
        <ol class="breadcrumb">
          <li><i class="fa fa-home"></i><a href="/">Home</a></li>
          <li><i class="fa fa-laptop"></i>Dashboard</li>
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <%= link_to adminpanel_posts_path do %>
            <div class="info-box brown-bg">
              <i class="icon_document" aria-hidden="true"></i>
              <div class="count"><%= @post %></div>
              <div class="title">Статьи</div>
            </div><!--/.info-box-->
        <% end %>
      </div><!--/.col-->

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <%= link_to adminpanel_categories_path do %>
            <div class="info-box blue-bg">
              <i class="icon_folder-open" aria-hidden="true"></i>
              <div class="count"><%= @category %></div>
              <div class="title">Категории</div>
            </div><!--/.info-box-->
        <% end %>
      </div><!--/.col-->

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <%= link_to adminpanel_twocategories_path do %>
            <div class="info-box dark-bg">
              <i class="icon_folder" aria-hidden="true"></i>
              <div class="count"><%= @twocategory %></div>
              <div class="title">Подкатегории</div>
            </div><!--/.info-box-->
        <% end %>
      </div><!--/.col-->

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <%= link_to adminpanel_comments_path do %>
            <div class="info-box brown-bg">
              <i class="icon_comment" aria-hidden="true"></i>
              <div class="count"><%= @comment %> <span style="color: limegreen ;"><%= "(#{@commentnew})" if @commentnew > 0 %></span></div>
              <div class="title">Комментарии</div>
            </div><!--/.info-box-->
        <% end %>
      </div><!--/.col-->

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <%= link_to adminpanel_twocomments_path do %>
            <div class="info-box blue-bg">
              <i class="icon_comment" aria-hidden="true"></i>
              <div class="count"><%= @twocomment %> <span style="color: limegreen ;"><%= "(#{@twocommentnew})" if @twocommentnew > 0 %></span></div>
              <div class="title">Комментарии_<span style="font-size: 14px">2</span></div>
            </div><!--/.info-box-->
        <% end %>
      </div><!--/.col-->

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <%= link_to adminpanel_catalogs_path do %>
            <div class="info-box dark-bg">
              <i class="icon_tag" aria-hidden="true"></i>
              <div class="count"><%= @catalog %></div>
              <div class="title">Каталоги</div>
            </div><!--/.info-box-->
        <% end %>
      </div><!--/.col-->

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <%= link_to adminpanel_companies_path do %>
            <div class="info-box brown-bg">
              <i class="icon_briefcase" aria-hidden="true"></i>
              <div class="count"><%= @company %> <span style="color: limegreen ;"><%= "(#{@companynew})" if @companynew > 0 %></span></div>
              <div class="title">Компании</div>
            </div><!--/.info-box-->
        <% end %>
      </div><!--/.col-->

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <%= link_to adminpanel_feedback_path do %>
            <div class="info-box blue-bg">
              <i class="icon_mail" aria-hidden="true"></i>
              <div class="count"><%= @feed %> <span style="color: limegreen ;"><%= "(#{@feednew})" if @feednew > 0 %></span></div>
              <div class="title">Письма</div>
            </div><!--/.info-box-->
        <% end %>
      </div><!--/.col-->

    </div><!--/.row-->

  </section>


  <style>
    .indexMain, .indexMain a{
      background: #2e3b46;
      color: white !important;
    }
  </style>