<section id="main-content">
  <section class="wrapper">
    <div class="container-fluid">
      <% if flash[:alert] %>
          <div class="alert alert-error" class="text-center">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:alert] %></div>
      <% end %>
      <% if flash[:notice] %>
          <div class="alert alert-info" class="text-center">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:notice] %>
          </div>
      <% end %>

      <div class="row">
        <div class="col-lg-12">
          <center><%= link_to 'Создать статью', new_post_path, class: 'btn btn-info btn-lg buttonNew' %></center>
          <section class="panel">
            <header class="panel-heading">
              Таблица Статей
            </header>

            <table class="table table-striped table-advance table-hover">
              <tbody>
              <tr>
                <th class='customIdTh'># id</th>
                <th><i class="icon_image"></i> Картинка</th>
                <th><i class="icon_pencil"></i> Название</th>
                <th><i class="fa fa-align-left" aria-hidden="true"></i> Краткое описание</th>
                <th><i class="icon_folder-open_alt"></i> Категории</th>
                <th class="customPodcatTh"><i class="icon_folder-alt"></i> Подкатегории</th>
                <th><i class="icon_calendar"></i> Создан</th>
              </tr>
              <% @post.each do |post| %>
                  <tr id="product_<%= post.id %>">
                    <td><%= post.id %></td>
                    <td class="customTd"><span class="profile-ava sellerAvatar"><%= image_tag post.image.url(:thumb) %></span></td>
                    <td><%= post.name %></td>
                    <td><%= truncate(post.description, length: 200) %></td>
                    <td>
                      <%= post.twocategory.category.name %>
                    </td>
                    <td>
                      <%= post.twocategory.name %>
                    </td>
                    <td class="lastTd"><%= post.created_at.strftime('%F') %></td>
                    <td>
                      <div class="btn-group tableTools">
                        <%= link_to '<i class="icon_pencil"></i>'.html_safe, edit_post_path(post.id), class: 'btn btn-success' %>
                        <span class='btn btn-danger deleteMessage2' accon='posts' orr_id='<%= post.id %>'><i class="icon_close_alt2"></i></span>
                      </div>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </section>
          <p><%= will_paginate @post, previous_label: '<i class="fa fa-chevron-circle-left fa-lg adminPag"></i>'.html_safe, next_label: '<i class="fa fa-chevron-circle-right fa-lg adminPag"></i>'.html_safe %></p>
        </div>
      </div>
  </section>
</section>

<style>
  .post, .post a{
    background: #2e3b46;
    color: white !important;
  }
</style>
