<section id="main-content">
  <section class="wrapper">
    <div class="container-fluid">
      <% if flash[:alert] %>
          <div class="alert alert-error" class="text-center">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:alert] %></div>
      <% end %>
      <% if flash[:notice] %>
          <div class="alert alert-info" class="text-center">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:notice] %>
          </div>
      <% end %>

      <div class="row">
        <div class="col-lg-12">
          <center><%= link_to 'Создать подкатегорию', new_twocategory_path, class: 'btn btn-info btn-lg buttonNew' %></center>
          <section class="panel">
            <header class="panel-heading">
              Таблица Подкатегорий
            </header>

            <table class="table table-striped table-advance table-hover">
              <tbody>
              <tr>
                <th># id</th>
                <th><i class="icon_image"></i> Картинка</th>
                <th><i class="icon_pencil"></i> Название</th>
                <th><i class="icon_flowchart"></i> Родитель</th>
                <th><i class="icon_calendar"></i> Создан</th>
              </tr>
              <% @twocategory.each do |twocategory| %>
                  <tr id="product_<%= twocategory.id %>">
                    <td><%= twocategory.id %></td>
                    <td><span class="profile-ava sellerAvatar"><%= image_tag twocategory.image %></span></td>
                    <td><%= twocategory.name %></td>
                    <td><%= twocategory.category.name %></td>
                    <td><%= twocategory.created_at.strftime('%F') %></td>
                    <td>
                      <div class="btn-group">
                        <%= link_to '<i class="icon_pencil"></i>'.html_safe, edit_twocategory_path(twocategory.id), class: 'btn btn-success' %>
                        <span class='btn btn-danger deleteMessage2'accon='twocategories' orr_id='<%= twocategory.id %>'><i class="icon_close_alt2"></i></span>
                      </div>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </section>
          <p><%= will_paginate @twocategory, previous_label: '<i class="fa fa-chevron-circle-left fa-lg adminPag"></i>'.html_safe, next_label: '<i class="fa fa-chevron-circle-right fa-lg adminPag"></i>'.html_safe %></p>
        </div>
      </div>
  </section>
</section>

<style>
  .two, .two a{
    background: #2e3b46;
    color: white !important;
  }
</style>