<%= form_for(comment, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <div class=" col-sm-2">
        <span class="control-label">IP адрес</span>
      </div>
      <div class="col-sm-10">
        <bold><%= @comment.user_ip %></bold>
      </div>
    </div>

    <div class="form-group">
      <div class=" col-sm-2">
    <%= f.label "Имя", class:"control-label" %>
      </div>
      <div class="col-sm-10">
    <%= f.text_field :name, class: "form-control form" %>
      </div>
    </div>

    <div class="form-group">
      <div class=" col-sm-2">
    <%= f.label "Комментарий", class:"control-label" %>
      </div>
      <div class="col-sm-10">
    <%= f.text_area :body, class: "form-control form" %>
  </div>
  </div>

    <div class="form-group">
      <div class="col-sm-2 ">
        <%= f.label 'Модерация комментария', for: 'moderation' %>
      </div>
      <div class="col-sm-10"
      '>
      <%= f.check_box :moderation, id: 'moderation' %>
    </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10 actions">
        <br>
        <%= link_to 'Назад', adminpanel_comments_path, class: 'btn btn-primary' %>
        <button type="submit" class="btn btn-success editSeller">Сохранить</button>
      </div>
    </div>
<% end %>
