<% if @comment.save %>
$('form input[type=text]').val(' ');
$('form textarea').val(' ');
$('.postComments > header').append("<h3 class='commentFlash'>Ваш комментарий будет опубликован после проверки модератормом</h3>");
setTimeout(function () {
    $('.commentFlash').fadeOut();
}, 10000);
<% else %>
$('.postComments > header').append("<h3 class='commentFlash' style='color: red;'><%= @comment.errors.messages.values.join(', ') %></h3>");
<% end %>
