/** Created by TTF.in.ua **/
@font-face {
    font-family: 'Dominican-Small-Caps-Small-Caps';
    src: url('Dominican-Small-Caps-Small-Caps.eot');
    src: url('Dominican-Small-Caps-Small-Caps.eot?#iefix') format('embedded-opentype'),
         url('Dominican-Small-Caps-Small-Caps.woff') format('woff'),
         url('Dominican-Small-Caps-Small-Caps.ttf') format('truetype'),
         url('Dominican-Small-Caps-Small-Caps.svg#Dominican-Small-Caps-Small-Caps') format('svg');
    font-weight: normal;
    font-style: normal;
}