<div class="mainWrapBlock">
  <main class="mainBlock">
    <article class="articlePreview ">
      <header>
        <h1 class="previewTitle previewContacts"><%= image_tag 'logo-50X29.png', title: 'blogremonta.com', alt: 'blogremonta.com' %> О сайте</h1>
      </header>
      <div class="wrapBodyArticle container-fluid">
        <p class="parAbout">
          <span class="logoSpanAbout">БлогРемонта</span> - это сайт, на котором можно найти ответы на различные интересующие вопросы о ремонте и строительстве.  Как правильно сделать <a href="/category/remont-v-kvartire" title="ремонт в квартире">ремонт в квартире</a>, обустроить <a href="/category/remont-v-kvartire/balkon" title="балкон">балкон</a>, ванную комнату, <a href="category/remont-v-kvartire/Kukhnya" title="кухня">кухню</a> – обо всем этом очень просто узнать, посетив наш сайт. Выполнить <a href="/category/stroitelstvo-doma" title="строительство дома">строительство дома</a> самостоятельно сумеет даже новичок, если будет придерживаться рекомендаций указанных на сайте.</p>

        <p class="parAbout">Провести наружные отделочные работы вместе с Блогремонта также не сложно. У нас представлена подробная информация о том, как правильно обустроить <a title="Фундамент" href="/category/stroitelstvo-doma/fundament">фундамент</a>, <a title="Крыша" href="/category/stroitelstvo-doma/krysha">крышу</a>, <a title="Цоколь" href="/category/stroitelstvo-doma/tsokol">цоколь</a> и многое другое.  Сделать любой вид ремонтных работ на уровне, возможно только используя качественные материалы. Мы готовы ознакомить наших читателей и с этим вопросом, посоветовав проверенные марки и строительные материалы. </p>

        <p class="parAbout">Ни один ремонт не обойдется без качественно оформленного <a href="/category/dizayn-interyera" title="дизайна интерьера">дизайна интерьера</a>. На сайте есть много статей, которые ознакомят читателя с последними новинками и модными веяниями. Оформить интерьер помещения красиво и со вкусом позволят правильно подобранные строительные <a href="/category/instrument" title="инструменты">инструменты</a>.  В каждой статье Блогремонта уделяет внимание этому вопросу. Ознакомившись с советами от опытных специалистов, каждый узнает, на какие материалы и приспособления стоит обратить внимание при выборе.</p>

        <p class="parAbout">Для тех, у кого нет времени делать ремонт самостоятельно мы также нашли выход. Если в силу своей занятости или отсутствия опыта читатель не готов проводить работы самостоятельно, то стоит посетить наш <a title="Каталог фирм" class="catFirms" href="/catalogs">каталог фирм и компаний</a> .  Блогремонта предлагает ознакомиться со списком проверенных подрядчиков, которые с радостью возьмут хлопоты по ремонту на себя. В каталоге представлен большой перечень зарегистрированных компаний с различной ценовой политикой. Заручившись поддержкой профессионалов, будет не сложно справиться с ремонтными работами любой сложности.</p>

        <p class="parAbout">Строительный сайт Блогремонта – это место, где представлена вся необходимая информация о ремонте и дизайне интерьера. Вместе с нами делать ремонт всегда проще!</p>
      </div>
    </article>
  </main>

  <aside class="navRightBlock">
    <div class="mainMenuRight">
      <h1>Главное меню</h1>
      <ul>
        <li><a href="/" title='Главная'>Главная</a></li>
        <li><%= link_to 'Каталог фирм', catalogs_path, title: 'Каталог фирм' %></li>
        <li><%= link_to 'Обратная связь', feedback_url, title: 'Обратная связь' %></li>
      </ul>
    </div>
    <div class="CategoryRight">
      <h1>Рубрики сайта</h1>
      <ul class="parentCategoryRight">
        <% @categories.each do |category| %>
            <li>
              <%= link_to category.name, showcategory_path(category.translit_url), class: 'parentLink' %>
            </li>
        <% end %>
      </ul>
    </div>
    <div class="clear"></div>
  </aside>
</div>



