<div class="mainWrapBlock">
  <main class="mainBlock">
    <% @posts.each do |post| %>
        <article class="articlePreview">
          <header>
            <h1 class="previewTitle"><%= link_to post.name, showpost_path(post.translit_url), title: post.name %></h1>
          </header>
          <%= link_to showpost_path(post.translit_url) do %>
              <%= image_tag post.image.url(:preloadMain, timestamp: false), title: post.name, alt: post.name %>
          <% end %>
          <div class="wrapBodyArticle">
            <div class="breadcrumbs"><%= link_to post.twocategory.category.name, showcategory_path(post.twocategory.category.translit_url), title: post.twocategory.category.name %>
              <i class="fa fa-long-arrow-right" aria-hidden="true" style="color:#C0C0C0; font-size: 10px;"></i>
              <%= link_to post.twocategory.name, showtwocategory_path(post.twocategory.category.translit_url, post.twocategory.translit_url), title: post.twocategory.name %>
            </div>
              <p><%= post.description %></p>
            <%= link_to 'Читать полностью <i class="fa fa-angle-double-right" aria-hidden="true"></i>'.html_safe, showpost_path(post.translit_url), title: post.name %>
          </div>
          <footer>
            <ul class="infoPost">
              <li><%= link_to(('<i class="fa fa-comments" aria-hidden="true"></i>').html_safe, showpost_path(post.translit_url)+'#commentBlock', "data-turbolinks" => "false", rel: "nofollow") %> <%= count_comments_post(post) %></li>
              <% @post = post %>
              <li id="likePost_<%= post.id %>"><%= render 'posts/like', post: @post %></li>
              <li><i class="fa fa-eye" aria-hidden="true"></i> <%= post.view_count %></li>
            </ul>
          </footer>
        </article>
    <% end %>
    <div class="clear"></div>

    <%= will_paginate @posts, previous_label: '<i class="fa fa-chevron-circle-left fa-lg adminPag"></i>'.html_safe, next_label: '<i class="fa fa-chevron-circle-right fa-lg adminPag"></i>'.html_safe %>
  </main>
  <aside class="navRightBlock">
    <div class="mainMenuRight">
      <h1>Главное меню</h1>
      <ul>
        <li><a href="/" title='Главная'>Главная</a></li>
        <li><%= link_to 'Каталог фирм', catalogs_path, title: 'Каталог фирм' %></li>
        <li><%= link_to 'Обратная связь', feedback_url, title: 'Обратная связь' %></li>
      </ul>
    </div>
    <div class="CategoryRight">
      <h1>Рубрики сайта</h1>
      <ul class="parentCategoryRight">
        <% @categories.each do |category| %>
            <li><%= link_to category.name, showcategory_path(category.translit_url), class: 'parentLink' %></li>
        <% end %>
      </ul>
    </div>
    <div class="clear"></div>
  </aside>
</div>


<style>
  .navVaries .mainPage{
    border-color:  #CA1B18;
  }
</style>

