<div class="mainWrapBlock">
  <main class="mainBlock">
    <article class="articlePreview contactsWrap">
      <header>
        <h1 class="previewTitle previewContacts"><i class="fa fa-info-circle" aria-hidden="true"></i> Реклама на сайте</h1>
      </header>
      <div class="wrapBodyArticle container-fluid">
        <p class="contactPrew reklamaPrew">Администрация  сайта “blogremonta.com” с интересом  рассмотрит предложения и идеи о различных видах взаимовыгодного сотрудничества. Если у Вас возникли вопросы связанные с платным размещением статей и рекламы на нашем сайте, то пишите на e-mail:
          <a href="mailto:info@gidremonta.com">info@blogremonta.com</a> или можете обратиться к нам через форму обратной связи:<br>
          <noindex>
            <nofollow></nofollow>
          </noindex>
        </p>
        <div class="note noteContacts">
          <span class="noteSpan">Внимание:</span> все поля формы обязательны для заполнения.
        </div>
        <div class="feedback"></div>
        <%= form_for @feed, html: {:class => 'contactsForm row', :remote => true, onsubmit: "sendAnimate('.commitsSubmit')"} do |f| %>

            <div class="inputFloat oneInput col-xs-12 col-sm-6">
              <%= f.text_field :name, placeholder: 'Имя', required: true %>
            </div>
            <div class="inputFloat twoInput col-xs-12 col-sm-6">
              <%= f.text_field :email, placeholder: 'Email', required: true %>
            </div>
            <div class="inputFloat lineInput col-xs-12">
              <%= f.text_field :title, placeholder: 'Тема', required: true %>
            </div>
            <%= f.text_area :description, class: 'col-xs-12', placeholder: 'Ваше сообщение', rows: 2, maxlength: 2000, required: true %>
            <%= f.button 'Отправить', class: 'commitsSubmit col-xs-12' %>
        <% end %>
      </div>
    </article>
  </main>

  <aside class="navRightBlock">
    <div class="mainMenuRight">
      <h1>Главное меню</h1>
      <ul>
        <li><a href="/" title='Главная'>Главная</a></li>
        <li><%= link_to 'Каталог фирм', catalogs_path, title: 'Каталог фирм' %></li>
        <li><%= link_to 'Обратная связь', feedback_url, title: 'Обратная связь' %></li>
      </ul>
    </div>
    <div class="CategoryRight">
      <h1>Рубрики сайта</h1>
      <ul class="parentCategoryRight">
        <% @categories.each do |category| %>
            <li>
              <%= link_to category.name, showcategory_path(category.translit_url), class: 'parentLink' %>
            </li>
        <% end %>
      </ul>
    </div>
    <div class="clear"></div>
  </aside>
</div>



<style>
  .navVaries .reklamaSites{
    border-color:  #CA1B18;
  }
</style>