<div class="mainWrapBlock">
  <main>
    <div class="sitemapBlock">
      <h1><i class="fa fa-angle-double-right" aria-hidden="true"></i> Карта сайта<br></h1>
      <div class="wrapNavMap">
        <ul class="parentCatMap">
          <h2>Главное меню:</h2>
          <li><%= link_to 'Каталог фирм', catalogs_path, title: 'Каталог фирм', class: 'catLinkMap' %></li>
          <li><%= link_to 'Реклама на сайте', reklama_url, title: 'Реклама на сайте', class: 'catLinkMap' %></li>
          <li><%= link_to 'Обратная связь', feedback_url, title: 'Обратная связь', class: 'catLinkMap' %></li>
          <li><%= link_to 'О сайте', about_url, title: 'О сайте', class: 'catLinkMap' %></li>
          <li><%= link_to 'Карта сайта', sitemap_url, title: 'Карта сайта', class: 'catLinkMap' %></li>
          <h2>Рубрики сайта:</h2>
          <% @categories.each do |category| %>
              <li>
                <%= link_to category.name, showcategory_path(category.translit_url), class: 'catLinkMap' %>
                <ul class="parentCatMapLeft">
                  <% category.twocategories.each do |twocategory| %>
                      <li><%= link_to twocategory.name, showtwocategory_path(category.translit_url, twocategory.translit_url) %></li>
                      <ul class="parTwo">
                      <% twocategory.posts.each do |post| %>
                            <li>- <%= link_to post.name, showpost_path(post.translit_url) %></li>
                      <% end %>
                      </ul>
                  <% end %>
                </ul>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </main>
</div>




