/* font-family: "RobotoRegular"; */
@font-face {
	font-family: "RobotoRegular";
  src:url('<%= asset_path('RobotoRegular/RobotoRegular.eot') %>');
	src: url('<%= asset_path('RobotoRegular/RobotoRegular.eot?#iefix') %>')format("embedded-opentype"),
	url('<%= asset_path('RobotoRegular/RobotoRegular.ttf') %>') format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
	font-family: "RobotoLight";
	src: url('<%= asset_path('RobotoLight/RobotoLight.eot') %>');
	src: url('<%= asset_path('RobotoLight/RobotoLight.eot?#iefix') %>')format("embedded-opentype"),
	url('<%= asset_path('RobotoLight/RobotoLight.woff') %>') format("woff"),
	url('<%= asset_path('RobotoLight/RobotoLight.ttf') %>') format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
	font-family: "RobotoMedium";
	src: url('<%= asset_path('RobotoMedium/RobotoMedium.eot') %>');
	src: url('<%= asset_path('RobotoMedium/RobotoMedium.eot?#iefix') %>')format("embedded-opentype"),
	url('<%= asset_path('RobotoMedium/RobotoMedium.woff') %>') format("woff"),
	url('<%= asset_path('RobotoMedium/RobotoMedium.ttf') %>') format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
	font-family: "RobotoBold";
	src: url('<%= asset_path('RobotoBold/RobotoBold.eot') %>');
	src: url('<%= asset_path('RobotoBold/RobotoBold.eot?#iefix') %>')format("embedded-opentype"),
	url('<%= asset_path('RobotoBold/RobotoBold.woff') %>') format("woff"),
	url('<%= asset_path('RobotoBold/RobotoBold.ttf') %>') format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "NautilusPompiliusRegular"; */
@font-face {
	font-family: "NautilusPompiliusRegular";
	src: url('<%= asset_path('NautilusPompiliusRegular/NautilusPompiliusRegular.eot') %>');
	src: url('<%= asset_path('NautilusPompiliusRegular/NautilusPompiliusRegular.eot?#iefix') %>')format("embedded-opentype"),
	url('<%= asset_path('NautilusPompiliusRegular/NautilusPompiliusRegular.woff') %>') format("woff"),
	url('<%= asset_path('NautilusPompiliusRegular/NautilusPompiliusRegular.ttf') %>') format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoCondensedRegular"; */
@font-face {
	font-family: "RobotoCondensedRegular";
	src: url('<%= asset_path('RobotoCondensedRegular/RobotoCondensedRegular.eot') %>');
	src: url('<%= asset_path('RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix') %>')format("embedded-opentype"),
	url('<%= asset_path('RobotoCondensedRegular/RobotoCondensedRegular.woff') %>') format("woff"),
	url('<%= asset_path('RobotoCondensedRegular/RobotoCondensedRegular.ttf') %>') format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoCondensedLight"; */
@font-face {
	font-family: "RobotoCondensedLight";
	src: url('<%= asset_path('RobotoCondensedLight/RobotoCondensedLight.eot') %>');
	src: url('<%= asset_path('RobotoCondensedLight/RobotoCondensedLight.eot?#iefix') %>')format("embedded-opentype"),
	url('<%= asset_path('RobotoCondensedLight/RobotoCondensedLight.woff') %>') format("woff"),
	url('<%= asset_path('RobotoCondensedLight/RobotoCondensedLight.ttf') %>') format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoCondensedBold"; */
@font-face {
	font-family: "RobotoCondensedBold";
	src: url('<%= asset_path('RobotoCondensedBold/RobotoCondensedBold.eot') %>');
	src: url('<%= asset_path('RobotoCondensedBold/RobotoCondensedBold.eot?#iefix') %>')format("embedded-opentype"),
	url('<%= asset_path('RobotoCondensedBold/RobotoCondensedBold.woff') %>') format("woff"),
	url('<%= asset_path('RobotoCondensedBold/RobotoCondensedBold.ttf') %>') format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    src: url('<%= asset_path('ProximaRegular/proximanovaregular.202cff18.woff') %>') format("woff");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 600;
    src: url('<%= asset_path('ProximaBold/proximanovasemibold.4c4819b0.woff') %>') format("woff");
}
@font-face {
    	
    font-style: normal;
    font-weight: 700;
    src: url('<%= asset_path('Proximabold/proximanovabold.65657e85.woff') %>') format("woff");
}