/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.articlePreview{
		float: none;
		margin: 50px auto 0 auto;
	}

	.navRightBlock{
		float: none;
		width: 100%;
		padding-top: 10px;
	}

	.mainBlock{
		float: none;
		margin:0 auto;
	}

	.mainWrapBlock{
		width: 100%;
	}
	.mainMenuRight{
		float: right;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.navVaries a{
		font-size: 14px;
	}

	.relatedPosts ul li:first-child{
		margin-right: 10px;
	}

    .oneInput{
        padding: 0 0 6px 0;
    }

    .twoInput{
        padding: 0 0 6px 0;
    }

    .validInputTwo{
        left: 3px;
    }

    .navCatalog h1{
        /*font-size: 10px;*/
    }

    .catMenuHide{
        display: none;
    }

    .wrapButton2{
        display: block;
    }

    picture{
        display: none;
    }
    .catNavImg{
        display: none;
    }

    .nav_title{
        position: relative;
    }

    .nav_title span{
        padding: 15px 0 15px 0;
        font-size: 20px !important;
    }

    .countArticle{
        display: none;
    }

    .articlePreview:first-child{
        margin-top: 0;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.navVaries, .catMenuHide{
		display: none;
	}

    .pagination a{
        padding: 2px 4px;
    }

    .pagination .current{
        padding: 3px 6px;
    }

	.navVaries a{
		float: none;
		text-align: center;
		border: none;
        font-size: 20px;
	}

	.navVaries a:hover{
		background-color: white;
	}

	.wrapButton, .wrapButton2{
		display: block;
	}

	.footerWall{
		margin-bottom: 280px;
	}

	.footerMain{
		height: 250px;
	}

	.navCatalog ul li{
		font-size: 13px;
	}

	.mainMenuRight{
		float: none;
		margin:0 auto;
	}

	.CategoryRight{
		margin: 0 auto;
	}

	.relatedPosts ul{
		display: block;
	}

	.relatedPosts ul li{
		width: 100% ;
		margin-bottom: 15px;
	}

    .navFoot{
        float: none;
        text-align: center;
    }
}



/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	.navVaries{
		display: block !important;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.relatedArticles{
		width: 300px;
	}

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}