<div class="inputFloat selectInput col-xs-12">
  <span class="validInput clear">*</span>

  <%= select_tag 'company[city]',  options_for_select(Catalog::CITY_TYPES[state].collect {|city| [city, city]}), {:include_blank => '- Область -', :class => 'post_twocategory_id', required: true} %>
</div>
