<%= nested_form_for(company, :html => {:class => 'form-horizontal'}) do |f| %>
    <% if company.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(company.errors.count, "error") %> prohibited this catalog from being saved:</h2>

          <ul>
            <% company.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <div class="col-sm-2 ">
        <%= f.label 'Основное фото', class: "control-label" %>
      </div>
      <div class="col-sm-10">
        <ul class="sliderImg imgcat">
          <li><%= image_tag company.image, title: "#{company.name}", id: 'imagePreload', class: "EditImage", height: 100 %></li>
          <!-- Trigger -->
          <li><%= f.file_field :image, id: 'imgInp' %>
            <% unless company.image_file_name.nil? %></li>
                <li><%= link_to("Удалить", {action: :delete_attachment, id: company.id}, method: :delete, data: {confirm: 'Вы уверины что хотите удалить?'}) %></li>
            <% end %>
            </ul>
      </div>
    </div>

    <div class="form-group">
      <div class=" col-sm-2">
        <%= f.label 'Название', class: "control-label" %>
      </div>
      <div class="col-sm-10 ">
        <%= f.text_field :name, autofocus: true, class: "form-control form", "required" => true %>
      </div>
    </div>

    <div class="form-group">
      <div class=" col-sm-2">
        <%= f.label 'Почта', class: "control-label" %>
      </div>
      <div class="col-sm-10 ">
        <%= f.text_field :email, class: "form-control form", "required" => true %>
      </div>
    </div>

    <div class="form-group">
      <div class=" col-sm-2">
        <%= f.label 'Сайт', class: "control-label" %>
      </div>
      <div class="col-sm-10 ">
        <%= f.text_field :site, class: "form-control form" %>
      </div>
    </div>

    <div class="form-group">
      <div class=" col-sm-2">
        <%= f.label 'Телефон', class: "control-label" %>
      </div>
      <div class="col-sm-10 ">
        <%= f.text_field :phone, class: "form-control form" %>
      </div>
    </div>

    <div class="form-group">
      <div class=" col-sm-2">
        <%= f.label 'Страна', class: "control-label" %>
      </div>
      <div class="col-sm-10 ">
        <%= f.text_field :state, class: "form-control form", "required" => true %>
      </div>
    </div>

    <div class="form-group">
      <div class=" col-sm-2">
        <%= f.label 'Область', class: "control-label" %>
      </div>
      <div class="col-sm-10 ">
        <%= f.text_field :city, class: "form-control form", "required" => true %>
      </div>
    </div>

    <div class="form-group">
      <div class=" col-sm-2">
        <%= f.label 'Адрес', class: "control-label" %>
      </div>
      <div class="col-sm-10 ">
        <%= f.text_field :adress, class: "form-control form" %>
      </div>
    </div>

    <div class="form-group">
      <div class=" col-sm-2">
        <%= f.label 'Описание', class: "control-label" %>
      </div>
      <div class="col-sm-10 ">
        <%= f.text_area :description, class: "form-control form", "required" => true, rows: 6 %>
      </div>
    </div>

    <div class="form-group">
      <div class=" col-sm-2">
        <%= f.label 'Категории', class: "control-label" %>
      </div>
      <div class="col-sm-10">
        <%= f.fields_for :company_skills do |skill| %>
            <div class="wrapCatCom">
              <%= skill.select(:catalog_id, options_for_select(Catalog.all.collect { |catalog| [catalog.name, catalog.id] }, skill.object.catalog_id), {prompt: '- Выберите каталог -'}, class: "form-control form", required: true) %>
              <%= skill.link_to_remove '<i class="fa fa-times-circle" aria-hidden="true"></i>'.html_safe, class: 'deleteInput' %>
            </div>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2 ">
        <%= f.label 'Модерация компании', for: 'moderation' %>
      </div>
      <div class="col-sm-10">
      <%= f.check_box :moderation, id: 'moderation' %>
    </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10 actions">
        <br>
        <%= link_to 'Назад', adminpanel_companies_path, class: 'btn btn-primary' %>
        <button type="submit" class="btn btn-success editSeller">Сохранить</button>
      </div>
    </div>
<% end %>
