<% if @company.save %>
$('.contactsForm input[type=text]').val('');
$('.contactsForm textarea').val('');
$('.contactsForm select').val('');
$('.contactsForm').remove();
$('.note').remove();
$('.commentFlash').remove();

$('.companyCatalog').append("<h3 class='commentFlash'>Ваша компания будет добавлена в наш каталог после проверки модератормом</h3>");

<% else %>
$('.companyCatalog').append("<h3 class='commentFlash' style='color: red;'><%= @company.errors.messages.values.join(', ') %></h3>");
<% end %>
