<div class="mainWrapBlock">
  <main class="mainBlock">
    <article class="articlePreview contactsWrap">
      <header>
        <h1 class="previewTitle previewContacts"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Добавить компанию в каталог</h1>
      </header>
      <div class="wrapBodyArticle container-fluid">
        <div class="note noteContacts">
          <span class="noteSpan">Внимание:</span> все поля формы с пометкой <span class="noteValid"> * </span> обязательны для заполнения.
        </div>
        <div class="companyCatalog"></div>
        <%= nested_form_for @company, html: {class: 'contactsForm', multipart: true, onsubmit: "sendAnimate('.commitsSubmit')" }, remote: true  do |f| %>
            <% if @company.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

                  <ul>
                    <% @company.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>
            <div class="inputFloat lineInput col-xs-12 logoCom">
              <span>Логотип компании:</span>
            <%= f.file_field :image, placeholder: 'sa' %>
            </div>
            <div class="inputFloat oneInput col-xs-12 col-sm-6">
              <span class="validInput">*</span>
              <%= f.text_field :name, placeholder: 'Название компании', required: true %>
            </div>
            <div class="inputFloat twoInput col-xs-12 col-sm-6">
              <span class="validInputTwo">*</span>
              <%= f.text_field :email, placeholder: 'Email', required: true %>
            </div>
            <div class="inputFloat oneInput col-xs-12 col-sm-6">
              <%= f.text_field :site, placeholder: 'Сайт' %>
            </div>
            <div class="inputFloat twoInput col-xs-12 col-sm-6">
              <%= f.text_field :phone, placeholder: 'Телефон' %>
            </div>
            <div class="inputFloat selectInput col-xs-12">
              <span class="validInput">*</span>
              <%= select_tag 'company[state]', options_for_select(Catalog::STATE_TYPES.collect{|state| [state, state, class: 'inputSelected']}, @state), {:include_blank => '- Укажите вашу страну -', :class => 'form-control form', :id => 'company_city', required: true} %>
            </div>
            <div id="city" ></div>
            <div class="inputFloat lineInput col-xs-12">
              <%= f.text_field :adress, placeholder: 'Город, улица, дом или офис' %>
            </div>
            <div class="inputFloat selectInput col-xs-12">
              <span class="validInput">*</span>
              <%= f.text_area :description, placeholder: 'Краткое описание компании', class: 'col-xs-12', rows: 2, maxlength: 2000, required: true %>
            </div>
            <span class="PrewSelectCatalog">Выбрать не меньше одного <strong>каталога</strong>:</span>
            <%= f.fields_for :company_skills do |skill| %>
                <div class="inputFloat selectInput col-xs-12">
                  <span class="validInput">*</span>
                  <%= skill.select(:catalog_id, options_for_select(Catalog.all.collect{|catalog| [catalog.name, catalog.id]}),  {prompt: '- Выберите каталог -'}, class:"form-control form") %>

                  <%=  skill.link_to_remove '<i class="fa fa-times-circle" aria-hidden="true"></i>'.html_safe, class: 'deleteInput' %>
                </div>
            <% end %>

            <p><center><%= f.link_to_add '- Ещё <i class="fa fa-refresh" aria-hidden="true"></i> -'.html_safe, :company_skills, class: 'addCatOther' %></center></p>

            <%= f.button 'Добавить в каталог', class: 'commitsSubmit col-xs-12' %>
        <% end %>
      </div>
    </article>
  </main>


  <aside class="navRightBlock">
    <div class="mainMenuRight">
      <h1>Главное меню</h1>
      <ul>
        <li><a href="/" title='Главная'>Главная</a></li>
        <li><a href="#">Каталог фирм</a></li>
        <li><a href="#">Реклама на сайте</a></li>
        <li><%= link_to 'Обратная связь', feedback_url, title: 'Обратная связь' %></li>
      </ul>
    </div>
    <div class="CategoryRight">
      <h1>Рубрики сайта</h1>
      <ul class="parentCategoryRight">
        <% @categories.each do |category| %>
            <li>
              <%= link_to category.name, showcategory_path(category.translit_url), class: 'parentLink' %>
            </li>
        <% end %>
      </ul>
    </div>
    <div class="clear"></div>
  </aside>
</div>

