<section class="navCatalog">
  <h1><i class="fa fa-angle-double-right" aria-hidden="true"></i> Каталог строительных компаний:<br></h1>
  <ul>
    <% @catalogs.each do |catalog| %>
        <li><%= link_to catalog.name, showcatalog_path(catalog.translit_url), title: catalog.name %></li>
    <% end %>
  </ul>
  <div class="clear"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="wrapButtonComp col-xs-12">
        <%= link_to 'Добавить компанию в каталог', new_company_path, title: 'Добавить в каталог', class: 'addNewComp' %>
      </div>
    </div>
  </div>
</section>
<div class="mainWrapBlock">
  <main class="mainBlock">
        <article class="companyCat showCat">
          <header>
            <h1><%= image_tag @company.image, alt: @company.name, title: @company.name %> <%= @company.name %></h1>
            <i class="fa fa-globe" aria-hidden="true" style="color: #FF7A00;"></i> <span><%= @company.state %>, <%= @company.city %></span>
          </header>
          <div class="companyDesc">
            <p><strong>Email:</strong> <%= @company.email %></p>
            <p><strong>Сайт:</strong> <%= @company.site %></p>
            <p><strong>Телефон:</strong> <%= @company.phone %></p>
            <p><strong>Адрес:</strong> <%= @company.adress %></p>
            <p class="compDesc"><strong>Описание компании:</strong> <%= @company.description %></p>
          </div>
          <footer>
            <% @company.company_skills.each do |skills| %>
                <%= link_to ('<i class="fa fa-tag" aria-hidden="true" style="color: #767676;"></i> ' + skills.catalog.name).html_safe, showcatalog_path(skills.catalog.translit_url), title: skills.catalog.name %>
            <% end %>
          </footer>
        </article>
    <%= link_to '<i class="fa fa-chevron-left" aria-hidden="true"></i>
 Назад'.html_safe, catalogs_path, title: 'Вернуться к каталогам фирм', class: 'backCatalogs' %>
  </main>
  <aside class="navRightBlock">
    <div class="mainMenuRight">
      <h1>Главное меню</h1>
      <ul>
        <li><a href="/" title='Главная'>Главная</a></li>
        <li><a href="#">Каталог фирм</a></li>
        <li><%= link_to 'Обратная связь', feedback_url, title: 'Обратная связь' %></li>
      </ul>
    </div>
    <div class="CategoryRight">
      <h1>Рубрики сайта</h1>
      <ul class="parentCategoryRight">
        <% @categories.each do |category| %>
            <li><%= link_to category.name, showcategory_path(category.translit_url), class: 'parentLink' %></li>
        <% end %>
      </ul>
    </div>
    <div class="clear"></div>
  </aside>
</div>

