<%= nested_form_for(post, :html => {'data-parsley-validate' => true, :class => 'form-horizontal', multipart: true}) do |f| %>
    <% if post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
            <% post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>



    <div class="form-group">
      <div class="col-sm-2 ">
        <%= f.label 'Основное фото', class: "control-label" %>
      </div>
      <div class="col-sm-10">
        <ul class="sliderImg imgcat">
          <%= label_tag 'imgInp', id: 'postMainImage' do %>
              <%= render 'main-image', post: post %>
              <% unless post.image_file_name.nil? %>
                  <%= link_to("X", {action: :delete_attachment, id: post.id}, method: :delete, remote: true, id: 'deleteButton', onclick: "preloadBlock('postMainImage')", class: 'btn btn-danger btn-xs') %>
              <% end %>
          <% end %>
          <!-- Trigger -->
          <li><%= f.file_field :image, id: 'imgInp', onchange: "imagePreview('imagePreload', this.files[0])" %>
            </ul>
      </div>
    </div>
    <div class="form-group col-md-offset-2">
      <div class="col-sm-2 ">
        <%= f.label 'Категория', class:"control-label" %>
      </div>
      <div class="col-sm-10 ">

        <%= select_tag 'category_id', options_for_select(Category.all.collect{|category| [category.name, category.id]}, @category), {:include_blank => '- Категории -', :class => 'form-control form', :id => 'post_category_id'} %>
      </div>
    </div>


    <div id="twocategory" class="form-group col-md-offset-2">
      <% if @twocategories %>
          <div class="col-sm-2 ">
            <%= f.label 'Подкатегория', class:"control-label" %>
          </div>
          <div class="col-sm-10">
            <%= select_tag('post[twocategory_id]', options_for_select(@twocategories.collect {|twocategory| [twocategory.name, twocategory.id]}, post.twocategory_id), class:"form-control form") %>
          </div>
      <% end %>
    </div>




    <div class="form-group">
      <div class="col-sm-2 ">
        <%= f.label 'Название', class: "control-label" %>
      </div>
      <div class="col-sm-10 ">
        <%= f.text_field :name, class: "form-control form" %>
      </div>
    </div>

    <div class="form-group">
      <div class=" col-sm-2">
        <%= f.label 'Url_translit', class:"control-label" %>
      </div>
      <div class="col-sm-10 ">
        <%= f.text_field :translit_url, class: "form-control form", "required" => true %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2 ">
        <%= f.label 'Описание', class: "control-label" %>
      </div>
      <div class="col-sm-10 ">
        <%= f.text_area :description, class: "form-control form" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2 ">
        <%= f.label 'Основной текст', class: "control-label" %>
      </div>
      <div class="col-sm-10 ">
        &lt;a class="postSlide" href="big" title="name_image">&lt;img src="mini" alt="name_image" /&gt;&lt;/a&gt;
        <%= f.text_area :body, class: "form-control form", rows: "30" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2 ">
        <%= f.label 'МЕТА заголовок', class: "control-label" %>
      </div>
      <div class="col-sm-10 ">
        <%= f.text_field :meta_title, class: "form-control form" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2 ">
        <%= f.label 'МЕТА описание', class: "control-label" %>
      </div>
      <div class="col-sm-10 ">
        <%= f.text_area :meta_desc, class: "form-control form" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2 ">
        <%= f.label 'МЕТА ключи', class: "control-label" %>
      </div>
      <div class="col-sm-10 ">
        <%= f.text_field :meta_key, class: "form-control form" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2 ">
        <%= f.label 'Показать статью', for: 'visible_post' %>
      </div>
      <div class="col-sm-10 ">
      <%= f.check_box :visible, id: 'visible_post' %>
    </div>
    </div>


    <h4>Картинки для слайдера</h4>

    <% if params[:action] == 'edit' %>
    <% @post.post_slide_images.each do |slide_image| %>

        <%= f.fields_for :post_slide_images, slide_image do |slide| %>
            <div class="form-group rowImageSlide">
              <div class="col-sm-2"></div>
              <div class="col-sm-2">
                <%= slide.label  :image do %>
                    <%= image_tag slide_image.image, class: 'slideImagePrduct', id: "img_#{slide_image.id}" %>
                <% end %>
                <%= slide.file_field :image, class: 'uploadImage', onchange: "imagePreview('img_'+#{slide_image.id}, this.files[0])" %>
              </div>
              <div class="col-sm-8">
                <div class="copyLink">
                  <p>
                <%= text_field_tag :imagelink, slide_image.image.url(:original, timestamp: false), id: "slide_#{slide_image.id}", class: "form-control inputLinkCopy"%>
                <span class="btn btn-info" data-clipboard-target="#slide_<%= slide_image.id %>">Копировать <span class='label label-success'>URL</span></span>
                  </p>

                </div>
                <%= slide.link_to_remove '<i class="icon_close_alt2"></i>'.html_safe, class: 'deleteImageSlide btn btn-danger' %>
              </div>
            </div>
        <% end %>
    <% end %>
<% end %>
    <%= nested_form_for Post.new, html: {multipart: true} do |i| %>
        <%= i.fields_for :post_slide_images do |slide_images| %>
            <div class="form-group rowImageSlide newRowSlide">
              <div class="col-sm-2"></div>
              <div class="col-sm-10">
                <%= slide_images.label  :image do %>
                    <%= image_tag 'Upload_100X100.png', id: post.get_id(slide_images), class: 'slideImagePrduct' %>
                 <% end %>
                <%= slide_images.file_field :image, class: 'imgInp', onchange: "imagePreview(#{post.get_id(slide_images)}, this.files[0])" %><br>
                <%= slide_images.link_to_remove '<i class="icon_close_alt2"></i>'.html_safe, class: 'deleteImageSlide btn btn-danger' %>
              </div>
            </div>

        <% end %>
        <%= i.link_to_add :post_slide_images do %>
            <span type="button" class="btn btn-success btn-block addPhohto"><i class="icon_plus"></i> ДОБАВИТЬ КАРТИНКУ</span>
        <% end %>


    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10 actions">
        <br>
        <%= link_to 'Назад', adminpanel_posts_path, class: 'btn btn-primary' %>
        <button type="submit" class="btn btn-success editSeller">Сохранить и выйти</button>
        <button type="submit" name="back" class="btn btn-success editSeller">Сохранить и вернуться</button>
      </div>
    </div>
<% end %>
<% end %>

<style>
  #imgInp, .fields .imgInp, .rowImageSlide .uploadImage{
    display: none;
  }

</style>
