<% if cookies["like_post_#{@post.id}"].present? %>
    <i class="fa fa-heart" aria-hidden="true" style="color: #FF7A00"></i> <%= @post.like_count %>
<% else %>
    <span class="clickLike" id=<%= @post.id %> style="color: #5F7082;"><i class="fa fa-heart" aria-hidden="true"></i></span>  <%= @post.like_count %>
<% end %>