<div class="container">
<div class="row">
<div class="page-header"></div>
<div class="formCrop">
  <%= image_tag 'preload.svg', class: 'preloadCrop' %>
  <%= form_for(@post) do |f| %>
    <div class="landscape-crop-preview">
      <br>
      <p><center><%= f.crop_preview :image, :width => 680%></center></p>
    </div>
    <div class="landscape-crop-area">
      <p><center><%= f.cropbox :image, :width => 500 %></center></p>
    </div>
    <div class="clear"></div>
    <div class="actions">
      <p>
        <center>
      <%= f.submit 'Сохранить', class: "btn btn-success cropSubmit" %>
      <button type="submit" name="back" class="btn btn-success editSeller">Сохранить и вернуться</button>
        </center>
      </p>
    </div>
  <% end %>
</div>
</div>
</div>

