<section class="navCatalog">
  <h1><i class="fa fa-angle-double-right" aria-hidden="true"></i> <%= @category.name %><br></h1>
  <ul>
    <% @twocategories.each do |twocategory| %>
        <li <%= raw("class='selectCat'") if @twocategory.id == twocategory.id %>><%= link_to twocategory.name, showtwocategory_path(twocategory.category.translit_url, twocategory.translit_url), title: twocategory.name %></li>
    <% end %>
  </ul>

  <div class="clear"></div>

</section>

<div class="mainWrapBlock">
  <main class="mainBlock">
    <article class="fullArticle">
      <header>
        <div class="breadcrumbs articleInside"><%= link_to @post.twocategory.category.name, showcategory_path(@post.twocategory.category.translit_url), title: @post.twocategory.category.name %>
          <i class="fa fa-long-arrow-right" aria-hidden="true" style="color:#C0C0C0; font-size: 10px;"></i>
          <%= link_to @post.twocategory.name, showtwocategory_path(@post.twocategory.category.translit_url, @post.twocategory.translit_url), title: @post.twocategory.name %>
        </div>
        <h1 class="previewTitle"><%= @post.name %></h1>
      </header>
      <%= link_to @post.image.url(:original, timestamp: false), id: 'mainPostImage', title: @post.name do %>
          <%= image_tag @post.image.url(:preloadMain, timestamp: false), class: 'preloadImg', title: @post.name, alt: @post.name %>
      <% end %>
      <%= raw @post.body %>
      <footer>
        <ul class="infoPost">
          <li>
            <a href="#commentBlock"><i class="fa fa-comments" aria-hidden="true" rel="nofollow"></i></a> <%= count_comments_post(@post) %>
          </li>
          <li id="likePost_<%= @post.id %>"><%= render 'like', post: @post %></li>
          <li><i class="fa fa-eye" aria-hidden="true"></i> <%= @post.view_count %></li>
        </ul>
      </footer>
    </article>

    <section class="relatedPosts">
      <header>
        <h2>Похожие статьи</h2>
      </header>
      <ul>
        <% @post_random.each do |post_random| %>
            <li>
              <%= link_to showpost_path(post_random.translit_url) do %>
                  <%= image_tag post_random.image.url(:preloadMain) %>
                  <span><%= post_random.name %></span>
              <% end %>
            </li>
        <% end %>
      </ul>
      <footer>
        <%= link_to 'Все похожие темы', showtwocategory_path(@twocategory.category.translit_url, @twocategory.translit_url), class: 'relatedAll', title: 'Все похожие темы' %>
      </footer>
    </section>

    <section class="postComments">
      <header>
        <h2>Комментарии <span><%= @count_comment %></span></h2>
      </header>

      <ul id="commentBlock" class="setComentsOne">
        <li>
          <%= form_for(Comment.new, :remote => true) do |comment| %>
              <div class="inputWrap"><%= comment.text_field :name, class: 'commentName', placeholder: 'Ваше имя', required: true %>
                <span class="areaSpan"></span></div>
              <div class="inputWrap"><%= comment.text_area :body, placeholder: 'Ваш комментарий', required: true %>
                <span class="areaSpan"></span></div>
              <div class="WrapCommitSubmit">
                <%= comment.hidden_field :post_id, value: @post.id %>
                <%= button_tag 'Отправить', class: 'commitsSubmit' %>
              </div>
          <% end %>
        </li>
        <% @comments.each do |comments| %>
            <li>
              <article class="postCommentsAll" id="commId_<%= comments.id %>">
                <header>
                  <span class="nameUser"><%= comments.name %></span>
                  <span class="createdComment"><%= comments.created_at.strftime("%d.%m.%Y") %></span>
                </header>
                <p><%= comments.body %></p>
                <footer>
                  <span class='addForm' id=<%= comments.id %>>Ответить</span>
                </footer>
              </article>
              <ul class="CommentsInside" id='addForm_2'>
                <% comments.twocomments.each do |twocomment| %>
                    <% if twocomment.moderation == 1 %>
                        <li>
                          <article class="postCommentsAll" id="commId_4">
                            <header>
                              <span class="nameUser"><%= twocomment.name %></span>
                              <span class="createdComment"><%= twocomment.created_at.strftime("%d.%m.%Y") %></span>
                            </header>
                            <p><%= twocomment.body %></p>
                          </article>
                    <% end %>
                <% end %>
                </li>
              </ul>
            </li>
        <% end %>
      </ul>
      <!-- 	<footer>

        </footer>
        <div class="wrapForm"></div> -->
    </section>

  </main>

  <aside class="navRightBlock">
    <div class="mainMenuRight">
      <h1>Главное меню</h1>
      <ul>
        <li><a href="/" title='Главная'>Главная</a></li>
        <li><%= link_to 'Каталог фирм', catalogs_path, title: 'Каталог фирм' %></li>
        <li><%= link_to 'Обратная связь', feedback_url, title: 'Обратная связь' %></li>
      </ul>
    </div>
    <div class="CategoryRight">
      <h1>Рубрики сайта</h1>
      <ul class="parentCategoryRight">
        <% @categories.each do |category| %>
            <li>
              <%= link_to category.name, showcategory_path(category.translit_url), class: 'parentLink' %>
              <% if category.id == @category.id %>
                  <ul class="childCategoryRight">
                    <% category.twocategories.each do |twocategory| %>
                        <li><%= link_to twocategory.name, showtwocategory_path(category.translit_url, twocategory.translit_url) %></li>
                    <% end %>
                  </ul>
              <% end %>
            </li>
        <% end %>
      </ul>
    </div>
    <div class="clear"></div>
  </aside>

</div>




