<% if @twocomment.save %>
$('form input[type=text]').val(' ');
$('form textarea').val(' ');
$('#commId_<%= @comment.id %> > footer').append("<h3 class='commentFlash'>Ваш комментарий будет опубликован после проверки модератормом</h3>");
setTimeout(function () {
    $('.commentFlash').fadeOut();
}, 10000);
<% else %>
$('#commId_<%= @comment.id %> > footer').append("<h3 class='commentFlash' style='color: red;'><%= @twocomment.errors.messages.values.join(', ') %></h3>");

<% end %>
