<p id="notice"><%= notice %></p>

<h1>Twocomments</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Body</th>
      <th>Moderation</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @twocomments.each do |twocomment| %>
      <tr>
        <td><%= twocomment.name %></td>
        <td><%= twocomment.body %></td>
        <td><%= twocomment.moderation %></td>
        <td><%= twocomment.comment %></td>
        <td><%= link_to 'Show', twocomment %></td>
        <td><%= link_to 'Edit', edit_twocomment_path(twocomment) %></td>
        <td><%= link_to 'Destroy', twocomment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Twocomment', new_twocomment_path %>
