<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @twocomment.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @twocomment.body %>
</p>

<p>
  <strong>Moderation:</strong>
  <%= @twocomment.moderation %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @twocomment.comment %>
</p>

<%= link_to 'Edit', edit_twocomment_path(@twocomment) %> |
<%= link_to 'Back', twocomments_path %>
