<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <meta name="google-site-verification" content="w34FpVSRQwLr9qmoOkMLmvc7erqEVsnYdV2fh4fgTwk"/>
  <meta name="yandex-verification" content="f7a88b4b354e7d90"/>
  <meta name="Description" content="<%= @description %>">
  <meta name="Keywords" content="<%= @keywords %>">
  <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag '/fancybox/source/jquery.fancybox.css?v=2.1.6', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag '/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag '/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag '/fancybox/source/jquery.fancybox.pack.js?v=2.1.6', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag '/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag '/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag '/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7', 'data-turbolinks-track': 'reload' %>
  <script>
      <%- if Rails.env.production? -%>
      (function (i, s, o, g, r, a, m) {
          i['GoogleAnalyticsObject'] = r;
          i[r] = i[r] || function () {
                  (i[r].q = i[r].q || []).push(arguments)
              }, i[r].l = 1 * new Date();
          a = s.createElement(o),
              m = s.getElementsByTagName(o)[0];
          a.async = 1;
          a.src = g;
          m.parentNode.insertBefore(a, m)
      })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-98602854-1', 'auto');
      ga('send', 'pageview');
      <%- else -%>
      function ga() {
          console.log("Google Analytics");
      }
      <%- end -%>
  </script>
</head>
<body>
<header id="mainHeaderMenu">
  <nav>
    <div class="navTop">
      <div class="search">
        <a href="/" class="logo"><%= image_tag 'logo.png', title: 'blogremonta.com', alt: 'blogremonta.com' %></a>
        <%= form_tag({:controller => "/search", :action => "result"}, method: "get") do %>
            <%= text_field_tag(:q, nil, placeholder: "Поиск статей", class: "searchInput") %>
            <%= image_submit_tag('search.png', border: 0, alt: 'Поиск статей') %>
        <% end %>
      </div>
    </div>
    <div class="wrapButton2">
      <button class="menuButton2"><i class="fa fa-bars fa-2x"></i></button>
    </div>
    <div class="wrapButton">
      <button class="menuButton"><i class="fa fa-bars fa-2x"></i></button>
    </div>
    <div class="navVaries">
      <%= link_to 'Обратная связь', feedback_url, title: 'Обратная связь', class: 'feedPage' %>
      <%= link_to 'Каталог фирм', catalogs_path, title: 'Каталог фирм', class: 'catFirms' %>
      <a class="mainPage" href="/" title='Главная'>Главная</a>
      <div class="clear"></div>
    </div>
  </nav>
  <nav class="catMenuHide">
    <div class="container-fluid">
      <div class="row">
        <% @categories.each do |category| %>
            <div class="navMain col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <%= link_to showcategory_path(category.translit_url) do %>
                  <picture>
                    <source srcset="the-real-image-source" media="(max-width: 768px)">
                    <%= image_tag category.image, title: category.name, alt: category.name, class: "catNavImg" %>
                  </picture>
                  <div class="nav_title">
                    <span class="titleSpan"><%= category.name %></span><span class="countArticle"><i class="fa fa-pencil"></i>
                    <%= count_posts(category) %></span></div>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>
  </nav>
</header>
<% if flash[:alert] %>
    <center><h3><%= flash[:alert] %></h3></center>
<% end %>
<% if flash[:notice] %>
    <center><h3><%= flash[:notice] %></h3></center>
<% end %>
<%= yield %>

<div class="clear"></div>

<div class="footerWall"></div>
<footer class="footerMain">
  <div class="footerContent">
    <a href="/"><%= image_tag 'logo_70-2.png', title: 'blogremonta.com', alt: 'blogremonta.com' %></a>>
      <ul class="socialLink">
        <li><a href="https://vk.com/blogremontov" title="Страница Блогремонта ВКонтакте" target="_blank"><i class="fa fa-vk fa-lg" aria-hidden="true"></i></a></li>
      </ul>
    <p><span class="logoSpan">БлогРемонта</span> - сайт о том, как правильно и недорого сделать качественный ремонт.
      <br>
      Здесь очень много статей по ремонтам и обсуждений с советами для пользователей.</p>
    <span class="footerCopyright">© Blogremonta, 2017-<%= Date.today.year %>.</span> <div class="navFoot"><%= link_to 'Карта сайта', sitemap_url, title: 'Карта сайта' %> <span>|</span> <%= link_to 'Реклама', reklama_url, title: 'Реклама на сайте' %> <span>|</span> <%= link_to 'О сайте', about_url, title: 'О нас' %></div>
    <ul class="footerMenu">
      <li class="liveCount"></li>
      <li>
        <% if Rails.env.production? %>
            <noindex>
              <!--LiveInternet counter-->
              <script type="text/javascript">
                  $('.footerMenu > .liveCount').after("<a href='//www.liveinternet.ru/click' " +
                      "target=_blank><img src='//counter.yadro.ru/hit?t44.6;r" +
                      escape(document.referrer) + ((typeof(screen) == "undefined") ? "" :
                          ";s" + screen.width + "*" + screen.height + "*" + (screen.colorDepth ?
                              screen.colorDepth : screen.pixelDepth)) + ";u" + escape(document.URL) +
                      ";" + Math.random() +
                      "' alt='' title='LiveInternet' " +
                      "border='0' width='20' height='20'><\/a>");
              </script><!--/LiveInternet-->

            </noindex>
        <% end %>
        &nbsp;&nbsp;Сайт разработан в <a target="_blank" href="http://labsites.org/">Labsites.org</a>
      </li>
    </ul>
  </div>
</footer>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('.navRightBlock').attr('style', '');
    });
</script>
</body>
</html>


